<div class="d-flex justify-content-center mt-4 flex-column align-items-center">
    <div class="d-flex justify-content-between border rounded col-10 m-1" *ngFor="let user of users">
        <div class="mx-3 d-flex">
            <p class="mt-1">{{ user.firstname}} {{user.infix}} {{user.lastname}}</p>
        </div>
        <div>
            <app-button class="link-black info"
            [icon]="faInfo"
            (onClick)="viewUserDetails(user.id)"
            ></app-button>
            <app-button class="link-black update"
            [icon]="faPencil"
            (onClick)="updateUser(user.id)"
            ></app-button>
            <app-button class="link-black delete"
            [icon]="faTrashCan"
            (onClick)="removeUser(user.id)"
            ></app-button>
        </div>
    </div>
</div>