.border {
    border: 2px solid #41474f !important;
}
.border:hover {
    border: 2px solid rgb(165, 165, 165) !important;
}

.info:hover {
    color: rgb(0, 255, 0) !important;
}

.update:hover {
    color: rgba(39, 190, 255, 0.888) !important;
}

.delete:hover {
    color: red !important;
}